main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#canvas-tictactoe {
    background-color: #B6C0D3;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 1%;
    margin-left: 5px;
    border: 1px solid white;
}

aside div {
    margin-bottom: 10px;
}

h1, h3 {
    margin: 0px;
}

ul {
    font-family: 'Lucida Sans Regular', Verdana, sans-serif;
    font-size: small;
    height: 200px;
    overflow: auto;
    margin: 5px 0px 0px 10px;
    padding-left: 20px;
    padding-right: 10px;
    list-style: none;
}

.detalhe-titulo {
    color: dimgrey;
    font-size: larger;
    display: inline;
    margin-right: 5px;
}

.turno {
    font-family: 'Lucida Sans Regular', Verdana, sans-serif;
    font-weight: 900;
}

.placar {
    display: block;
    margin: 5px;
    font-family: 'Lucida Sans Regular', Verdana, sans-serif;
}

@media screen and (max-width: 600px) {
    aside {
        margin-top: 10px;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    aside div {
        width: 50%;
    }

    aside > div div {
        width: 100%;
    }

    .detalhe {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
  }