header {
    padding: 1%;
    background-color: darkcyan;
    color: floralwhite;
    text-align: center;
    margin-bottom: 5px;
}

footer {
    padding: 1%;
    background-color: darkslategray;
    color: azure;
    text-align: end;
    margin-top: 5px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

canvas {
    background-color: #B6C0D3;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 1%;
    margin-left: 5px;
    border: 1px solid white;
}

h1, h3 {
    margin: 0px;
}